In [126]:
import pandas as pd
import numpy as np

In [136]:
gs = pd.read_csv("vgsales.csv")

In [137]:
gs.shape

(16598, 11)

In [140]:
gs = gs.dropna()

In [141]:
#1 Найти все жанры игр.
gs['Genre'].value_counts()

Action          3251
Sports          2304
Misc            1686
Role-Playing    1470
Shooter         1282
Adventure       1274
Racing          1225
Platform         875
Simulation       848
Fighting         836
Strategy         670
Puzzle           570
Name: Genre, dtype: int64

In [142]:
#3. Найти количество фирм – создателей игр.
gs['Publisher'].nunique()

576

In [143]:
#4. Самая продаваемая игра? Издатель.
cc = gs.Global_Sales.max()
gss = gs[['Publisher','Name','Global_Sales']].query('Global_Sales == @cc')
gss[['Publisher','Name']]

  Publisher        Name
0  Nintendo  Wii Sports

In [144]:
#5. Количество игр с наихудшими показателями продаж + какой именно показатель.
dd = gs.Global_Sales.min()
gdd = gs[['Name','Global_Sales']].query('Global_Sales == @dd')
gdd

                                                    Name  Global_Sales
15980                                              Turok          0.01
15981                     Coven and Labyrinth of Refrain          0.01
15982  Super Battle For Money Sentouchuu: Kyuukyoku n...          0.01
15983                                   Dragon Zakura DS          0.01
15984                             Chameleon: To Dye For!          0.01
...                                                  ...           ...
16593                 Woody Woodpecker in Crazy Castle 5          0.01
16594                      Men in Black II: Alien Escape          0.01
16595   SCORE International Baja 1000: The Official Game          0.01
16596                                         Know How 2          0.01
16597                                   Spirits & Spells          0.01

[600 rows x 2 columns]

In [145]:
#6. Самая распространенная платформа?
gs['Platform'].value_counts().head(1)

DS    2131
Name: Platform, dtype: int64

In [146]:
#2. Найти пиковые значения и спад продаж для каждого жанра с указанием года пика и спада.
gs.groupby(['Genre','Year']).agg({'Global_Sales':'max'})

                 Global_Sales
Genre    Year
Action   1980.0          0.34
         1981.0          2.20
         1982.0          0.66
         1983.0          0.77
         1984.0          1.85
...                       ...
Strategy 2012.0          0.72
         2013.0          1.67
         2014.0          0.37
         2015.0          0.51
         2016.0          0.20

[389 rows x 1 columns]

In [147]:
gs.groupby(['Genre','Year']).agg({'Global_Sales':'min'})

                 Global_Sales
Genre    Year
Action   1980.0          0.34
         1981.0          0.17
         1982.0          0.14
         1983.0          0.17
         1984.0          1.85
...                       ...
Strategy 2012.0          0.01
         2013.0          0.02
         2014.0          0.03
         2015.0          0.01
         2016.0          0.01

[389 rows x 1 columns]